@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;

}

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body, html {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.azzurro{
  color: #0ea5e9;
}

.card{
  position: relative;
  width: 75vw;
  max-width: 420px;
  height: 550px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-serv{
  position: relative;
  width: 75vw;
  max-width: 420px;
  min-height: 350px;
  transition: transform 1s;
  transform-style: preserve-3d;

}

.bordo-doppio-azzurro {
  border: double 3px;
  border-radius: 6px;
  border-color: #0ea5e9;
}

.card-face{
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  border: solid 2px;
  border-radius: 6px;
  border-color: #0ea5e9;
}

.card-back{
  transform: rotateY(3.142rad);
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flipped{
  transform: rotateY(3.142rad);
}
.title {
  width: 100%;
  background-color: #0ea5e9;
  padding: 10px;
  text-align: center;
  color: white;


}

